@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: #0f0f0f;
    --text: #ffffff;
    --white: #ffffff;
    --darkGrey: #b6b6b6;
    --lightGrey: #464646;
    --menu: #212121;
    --menuOver: #5555558e;
    --theme: #2179ac;
    --themeLight: #ffffff;
    --themeDark: #242424;
    --menuHeight: 50px;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    align-self: center;
    text-align: center;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    zoom: 100%;
    scroll-behavior: smooth;
    width: 100%;
}

::selection {
    color: #000000;
    background-color: var(--white);
}

.h1 {
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: 00;
    font-size: 2.2rem;
}

.h2 {
    margin-top: 3px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.5rem;
}

.h3 {
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.2rem;
    display: inline-block;
}

a {    
    color: white;
}

p {
    font-size: 1rem;
    margin-top: 10px;
}

#menu {
    height: var(--menuHeight);
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(3px);
    background-color: var(--menu);
    user-select: none;
    -webkit-user-select: none;
    color: var(--darkGrey);
    margin-top: 0px;
    box-shadow: #00000084 0px 10px 30px;
}

    #menuName {
        display: flex;
        width: clamp(200px, 25vw, 6000px);
        background-color: var(--menu);
        justify-content: center;
        z-index: 1002;
        margin-bottom: 0;
        padding-top: 0;
        font-display: optional;
        }

        #menuKamera:hover, #menuLeon:hover {
            cursor: pointer;
        }

        #menuLeon {
            font-size: 21px;
            font-weight: 700;
            color: var(--white);
            z-index: 1000;
            margin-top: 8px;
            min-width: 120px;
        }

    #menuKamera {
        margin-left: 10px;
        height: 35px;
        width: 35px;
        margin-top: 6px;
        z-index: 1000;
    }

    #menuBar {
        height: var(--menuHeight);
        width: 75vw;
        display: flex;
        justify-content: space-evenly;
        background-color: var(--menu);
        z-index: 1000;
    }

    .menuItem {
        color: var(--darkGrey);
        text-decoration: none;
        margin-top: 10px;
        font-size: 17px;
        z-index: 1000;
        font-weight: 500;
        }

        .menuItem:hover {
            z-index: 3000;
        }

        .menuItem:hover {
            color: white;
            transition: 0.3s;
            }

        .menuItem:not(:hover) {
            font-weight: 500;
            z-index: 0;
            transition: .3s;
            color: var(--darkGrey);
        }

    #menuBurger {
        width: 20vw;
        background-color: var(--menu);
        display: none;
        z-index: 1000;
        }

        #burger {
            font-size: 22px;
            text-decoration: none;
            background-color: #ffffff00;
            padding-left: 5px;
            padding-right: 5px;
            height: 34px;
            width: 34px;
            color: #bbbbbb;
            font-weight: 100;
            margin-top: 5px;
            border-radius: 7px;
            z-index: 1000000000000;
        }

        #burger:hover {
            background-color: #ffffff;
            color: #000000;
            transition: 0.3s;
            cursor: pointer;
        }

    #menuDialog {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        background-color: black;
        color: white;
        border-style: none;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 150px;
        height: 200px;
        border-radius: 12px;
        z-index: 1000000000000;
        opacity: 0;
        transition: 200ms;
        box-shadow: rgba(255, 255, 255, 0.408) 0px 0px 50px;
        pointer-events: none;
    }

    #blur {
        background-color: #00000000;
        position: fixed;
        width: 200vw;
        height: 200vh;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        z-index: 100000000;
        pointer-events: none;
        display: block;
        transition: 300ms;
    }

    .dialogA {
        color: #c1c1c1;
        font-size: 20px;-webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        transition: 300ms;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
        transition: 300ms;
    }

    .dialogA:hover {
        color: white;
    }

    #dialogHome {
        color: white;
    }

    #close {
        background-color: #00000000;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 2px;
        height: 43px;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #close:hover {
        background-color: #333333;
    }

    ul {
        list-style-type: none;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        line-height: 40px;
    }

@media (max-width: 750px){

    :root {
        --menuHeight: 43px;
    }

    .menuItem {
        font-size: 15px;
        margin-top: 10px;
    }

    #menuLeon {
        font-size: 19px;
        margin-top: 7px;
    }

    #menuKamera {
        margin-top: 8px;
        height: 28px;
        width: 28px;
        margin-left: 0;
    }
}

@media (max-width: 550px){

    #menu {
        display: block;
    }

    #menuBar {
        display: none;
    }

    #menuBurger {
        display: block;
        top: 0;
        position: fixed;
        height: var(--menuHeight);
        right: 0;
    }

    #menuName {
        margin-left: 50%;
        transform: translateX(-50%);
        height: var(--menuHeight);
    }

}

/* --- Standard-Code Ende --- *//* --- Standard-Code Ende --- *//* --- Standard-Code Ende --- *//* --- Standard-Code Ende --- *//* --- Standard-Code Ende --- */

#widthText {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 90vw;
    z-index: 10000;
}

hr {
    border: solid 1px;
    color: var(--white);
    border-width: 0px;
    background-color: var(--white);
    height: 2px;
}

#hr1 {
    margin-top: 40px;
}


#menuHome {
    color: white;
}

#banner {
    background-color: #00000000;
    width: 100%;
    height: calc(100vh - 80px);
    max-height: calc(60vw - 80px);

    margin: auto;
    position: fixed;
    z-index: -5;

    margin-top: var(--menuHeight);
}

.bannerFotos {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    margin-top: 0;
    z-index: 0;
}

#startLink {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-color: #ffffff;
    background-color: #ffffff9c;
    color: black;
    position: fixed;
    z-index: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    bottom: 5vh;
    backdrop-filter: blur(20px);
    left: 50%;
    transform: translateX(-50%);
    height: 28px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
}

#startLink:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 0.2s;
}

#startLink:not(:hover) {
    cursor: default;
    background-color: #ffffff9c;
    transition: 0.2s;
}

#parallax {
    background-color: #000000a6;
    opacity: 0;
    z-index: 50;
    width: 100%;
    height: calc(100vh - 80px);
    max-height: calc(60vw - 80px);

    margin-top: var(--menuHeight);
}

#content {
    z-index: 2;
    margin-top: -80px;
}

#space {
    background-color: var(--bg);
    height: 20px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

#space2 {
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    z-index: -5000;
}

#scrollToTopButton {
    position: absolute;
    margin: auto;
    bottom: 0px;
    z-index: 5;
    background-color: var(--bg);
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: 900;
    right: calc(50% - 30px);
    border-radius: 5px 5px 0px 0px;
    opacity: 1;
}

#arrowUp {
    width: 35px;
    margin: auto;
    vertical-align: center;
    margin-top: -25px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    filter: invert(90);
    transform: rotate(180deg);
}

#i1000px {
    height: 1000px;
    background-color: var(--bg);
    margin-top: 0;
}

#meJpg {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

#me {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    align-items: center;
    border-radius: 150px;
    /*border-style: solid;
    border-width: 6px;
    border-color: var(--themeLight);*/
    z-index: 999;
}

#center {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: center;
    gap: 0px;
}

#descriptionCard {
    background-color: #0f0f0f1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 350px;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: -30px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
}

button {
    background-color: #afafaf;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1.05rem;
    font-weight: 700;
    text-decoration: none;
    height: 30px;
    padding-bottom: 2px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 7px;
    border-style: none;
}

#buttonFotogalerie {
    margin-top: 10px;
}

button:hover {    
    background-color: white;
    transition: 0.2s;
    cursor: pointer;
}

button:not(:hover) {
    background-color: #d0d0d0;
    color: black;
    transition: 0.1s;
}

#iconDiv1 {
    position: absolute;
    right: 30px;
    margin-top: -50px;
    opacity: 0.5;
}

#iconDiv2 {
    position: absolute;
    left: 30px;
    margin-top: -50px;
    opacity: 0.5;
}

#icons1 {
    height: 500px;
}

#icons2 {
    height: 500px;
    transform: scaleX(-1);
}

    #description {
        zoom: 100%;
        background-color: var(--bg);
        padding-top: 50px;
        padding-bottom: 80px;
    }

        #hr1 {
            color: white;
            background-color: white;
            border-color: white;
            width: 80%;
            height: 1px;
            margin-left: 10%;
            margin: auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: -30px;
        }

    #about {
        position: relative;
        background-color: var(--bg);
        height: auto;
        width: 100%;
        margin-top: -10px;
        margin-bottom: 0;
        padding-top: 30px;
    }
    
        #aboutCard {
            position: relative;
            background-color: var(--themeDark);
            color: #ffffff;
            width: 850px;
            max-width: 90vw;
            margin: auto;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            height: 100%;
            overflow: hidden;
        }
        
        #aboutTexte {
            position: relative;
            width: 70%; /* This takes up 70% of the parent */
            padding: 30px; /* Ensure padding is accounted for in layout */
            padding-top: 25px;
            padding-bottom: 20px;
            box-sizing: border-box; /* Include padding in the element's width */
            line-height: 1.8rem;
            margin-top: 0;
        }

        #aboutH {
            position: relative;
            font-size: 1.5rem;
            margin-top: 0;
            margin-bottom: 1px;
        }

        .aboutText {
            color: #eeeeee;
            position: relative;
            font-size: 1.1rem;
            font-weight: 300;
            text-align: justify;
            text-justify: inter-word;
        }

        #b {
            font-weight: 600;
        }
        
        #aboutFotoDiv {
            position: relative;
            width: 30%;
            overflow: hidden;
        }
        
        #aboutFoto {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            box-sizing: border-box;
            scale: 115%;
            transition: 0.2s ease-in-out;
        }

        #aboutFoto:hover {
            scale: 145%;
            transform: translateY(15px);
            cursor: pointer;
        }

        #photoPreview {
            position: relative;
            background-color: var(--bg);
            width: 100%;
            height: 500px;
        }

        #aboutButtons {
            position: relative;
            width: 100%;
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
            margin-left: -30px;
            margin-right: -30px;
            padding-left: 30px;
            padding-right: 30px;
            margin-top: -5px;
        }

        .aboutButton:not(:hover) {
            position: relative;
            background-color: #0f0f0f;
            color: white;
            height: 28px;
            font-size: 1rem;
            font-weight: 500;
            transition: 0.2s;
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 7px;
        }

        .aboutButton:hover{
            background-color: #000000;
            color: white;
            padding-left: 40px;
            padding-right: 40px;
            height: 28px;
            font-size: 1rem;
            font-weight: 500;
            transition: 0.2s;
            border-radius: 7px;
            cursor: pointer;
        }

#blueHr {
    color: var(--themeDark);
    border-width: 2px;
    border-color: var(--themeDark);
    background-color: var(--themeDark);
    border-radius: 3px;
    width: 80%;
    opacity: 0.9;
}

.scroll-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#photoPreview {
    padding-top: 20px;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: hidden; /* Hide the scrollbar */
    position: relative;
    scroll-behavior: auto; /* Smooth scrolling will be handled by JS */
}

.previewPhotos {
    border-radius: 5px;
    flex-shrink: 0; /* Prevent images from shrinking */
}

.scroll-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.scroll-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}







/* --- MEDIA QUERIES --- *//* --- MEDIA QUERIES --- *//* --- MEDIA QUERIES --- *//* --- MEDIA QUERIES --- *//* --- MEDIA QUERIES --- */

@media (max-width: 1300px) {
    #description {
        zoom: 90%;
        /*background-color: #e7e7e7;*/      
    }        
    
    .aboutText {
        font-size: calc(1.1rem * 0.95);
    }
}

@media (max-width: 1150px) {
    #iconDiv1{
        opacity: 0.4;
        right: 10px;
    }

    #iconDiv2{
        opacity: 0.4;
        left: 10px;
    }
}

@media (max-width: 850px) {
    #iconDiv1, #iconDiv2 {
        display: none;
    }
}

@media (max-width: 700px) {

    #aboutCard {
        flex-direction: column-reverse;
        width: 500px;
        max-width: 90%;
    }

    #aboutTexte {
        width: 100%;
    }

    #aboutFotoDiv {
        width: 100%;
        height: 200px;
    }

    #aboutFoto {  
        object-fit: cover;
        object-position: center 20%;
        scale: 100%;
        transform: translateY(0px);
    }

    #aboutFoto:hover {  
        object-fit: cover;
        object-position: center 20%;
        scale: 115%;
        transform: translateX(0px);
    }
}
