 #menuFilme, #dialogFilme {
    color: white;
}

#space {
    height: var(--menuHeight);
}

.videos {
    width: 95%;
    max-width: 1000px;
    max-height: 500px;
    height: 47.5vw;
    border-radius: 5px;
    box-shadow: 15px 7px 50px #ffffff3a;
}

.width80 {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 80px;
}