 #menuFilme, #dialogFilme {
    color: white;
}

#space {
    height: var(--menuHeight);
}

button {
    background-color: #afafaf;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1.05rem;
    font-weight: 700;
    text-decoration: none;
    height: 30px;
    padding-bottom: 2px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 7px;
    border-style: none;
}


.videos {
    width: 95%;
    max-width: 1000px;
    max-height: 500px;
    height: 47.5vw;
    border-radius: 5px;
    box-shadow: 15px 7px 50px #ffffff3a;
}

.width80 {
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 80px;
}